.Auth {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 20% auto;
  width: 80%;
  text-align: center;
  border: 2px solid rgb(162, 101, 9);
  padding: 20px;
  border-radius: 5%;
  box-shadow: 2px 5px 10px #000;
  transition: 0.5s;
  &:hover {
    box-shadow: 2px 5px 15px #000;
  }
  @media (min-width: 600px) {
    width: 500px;
  }
}
